{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>AIAC | Espace Utilisateur</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static  'css/bootstrap.min.css'%}" rel="stylesheet">
    <!--external css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/lock/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/lock/style-responsive.css' %}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'css/lock/style_line.css' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body onload="getTime()">

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  	<div class="container">

	  		<div id="showtime"></div>
	  			<div class="col-lg-4 col-lg-offset-4">
	  				<div class="lock-screen">
		  				<h2><a data-toggle="modal" href="#myModal"><i class="fa fa-lock"></i></a></h2>
		  				<p style="color: #FFFFFF;">Déverrouiller</p>

				          <!-- Modal -->
				          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
				              <div class="modal-dialog">
				                  <div class="modal-content">
				                      <div class="modal-header">
				                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				                          <h4 class="modal-title">Nous saluons le retour</h4>
				                      </div>
                                      <form id="loginForm" action="{% url 'check' %}" method="post">
                                          {% csrf_token %}
				                      <div class="modal-body">


				                                            <p class="centered">
                                                      <span class="box1">
                                                      <span aria-hidden="true" class="li_user"></span>
                                                      </span>
                                                    </p>
                                          <h5 class="centered"><Strong>Utilisateur : </Strong>{{ request.user }}</h5>
                                          <div id="warnmessage"></div>
                                          <input type="hidden" name="username" value="{{ request.user }}">
				                          <input type="password" name="password" placeholder="Mot de passe" autocomplete="off" class="form-control placeholder-no-fix" >

				                      </div>
				                      <div class="modal-footer centered">
				                          <button data-dismiss="modal" class="btn btn-theme04" type="button">Annuler</button>
				                          <button class="btn btn-theme03" id="submit1">Confirmer</button>
				                      </div>
                                      </form>
				                  </div>
				              </div>
				          </div>
				          <!-- modal -->


	  				</div><! --/lock-screen -->
	  			</div><!-- /col-lg-4 -->

	  	</div><!-- /container -->

    <script src="{% static  'js/jQuery/jquery-2.2.3.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/lock/oubliescript.js' %}"></script>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="{% static  'js/accueil/jquery.backstretch.min.js'%}"></script>
    <script>
        $.backstretch("/static/img/wing-plane-flying-airplane-62623.jpeg", {speed: 500});
    </script>

    <script>
        function getTime()
        {
            var today=new Date();
            var h=today.getHours();
            var m=today.getMinutes();
            var s=today.getSeconds();
            // add a zero in front of numbers<10
            m=checkTime(m);
            s=checkTime(s);
            document.getElementById('showtime').innerHTML=h+":"+m+":"+s;
            t=setTimeout(function(){getTime()},500);
        }

        function checkTime(i)
        {
            if (i<10)
            {
                i="0" + i;
            }
            return i;
        }
    </script>

  </body>
</html>
