{% extends 'base.html' %}
{% load staticfiles %}
{% load filtre %}
  {% block title %}ICNA | Emploi Courant{% endblock %}
    {% block style %}
      <!-- DataTables -->
       <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet"  type="text/css" href="{% static 'css/jquery.multiselect.css' %}">
      <!-- Theme style -->
        <style>
        select.disa{
            background-color: #eee;
        }
        select.matiere {
            width: 100%;

            height:30px;
            border:0px;
            outline:0px;
            text-align-last:center;

        }
        select.prof_supp{
            width: 50%;
            height:60px;
            border:0px;
            outline:0px;
            text-align-last:center;
        }
        select.professeur{
            width: 100%;
            height:60px;
            border:0px;
            outline:0px;
            text-align-last:center;
        }
        input[type=text]{
            width: 100%;
            height:35px;
            border:1px #ebebeb solid;
            text-align: center;
        }
        </style>
    {% endblock %}
    {% block header %}
        <br><br>
    {% endblock %}
        {% block menu %}
        <li>
          <a href="{% url 'index' %}">
            <i class="fa fa-home "></i> <span>Accueil</span>
          </a>
        </li>
        <li class=" treeview active">
          <a href="#">
            <i class="fa fa-calendar"></i> <span>Emploi du Temps</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="{% url 'emploi_courant' %}"><i class="fa fa-circle-o"></i> Courant</a></li>
            <li class=""><a href="{% url 'emploi_courant_archive' %}"><i class="fa fa-circle-o"></i> Archivés</a></li>
          </ul>
        </li>
        <li class=" treeview">
          <a href="#">
            <i class="fa fa-book"></i> <span>Matières</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class=""><a href="{% url 'matiere' %}"><i class="fa fa-circle-o"></i> Lister</a></li>
            <li class=""><a href="http://127.0.0.1:8000/admin/app/matiere/"><i class="fa fa-circle-o text-aqua"></i> Gérer</a></li>
          </ul>
        </li>
        <li class=" treeview">
          <a href="#">
            <i class="fa fa-graduation-cap"></i> <span>Etudiants</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class=""><a href="{% url 'gestion_etudiant' %}"><i class="fa fa-circle-o"></i> Lister</a></li>
            <li class=""><a href="http://127.0.0.1:8000/admin/app/etudiant/"><i class="fa fa-circle-o text-aqua"></i> Gérer</a></li>
          </ul>
        </li>
        <li class=" treeview">
          <a href="#">
            <i class="fa fa-suitcase"></i> <span>Professeurs</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class=""><a href="{% url 'prof' %}"><i class="fa fa-circle-o"></i> Lister</a></li>
            <li class=""><a href="http://127.0.0.1:8000/admin/app/professeur/"><i class="fa fa-circle-o text-aqua"></i> Gérer</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-address-book"></i> <span>Répertoire téléphonique</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'repertoire_prof' %}"><i class="fa fa-circle-o"></i> Professeurs</a></li>
            <li><a href="{% url 'repertoire_etud' %}"><i class="fa fa-circle-o"></i> Etudiants</a></li>
          </ul>
        </li>
            <li>
        <a href="{% url 'tuto' %}">
            <i class="fa fa-newspaper-o"></i> <span>Mode d'emploi</span>
        </a>
        </li>
    {% endblock %}
    {% block  breadcrumb%}
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Emploi du temps courant</li>
    {% endblock %}
    {% block content %}
      <div class="row">
      {% csrf_token %}
      <input type="hidden" value="{{ semestre }}" id="semestre">
      <input type="hidden" value="{{ promotion}}" id="promotion">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 text-center kokos">

                        <strong><span style="margin-left:40px">Emploi du temps</span></strong>
                        <span style="margin-left:40px;margin-right: 15px;">Du</span> {{ emplois.dateDebut|date:'d/m/Y' }} </span><span style="margin-left:40px"> Au</span> <span style="margin-left:15px">{{ emplois.dateFin|date:'d/m/Y' }}</span>
                </div>
            </div>
            <br>
            <div class="row options">
                <div class="col-lg-4 text-center"><strong><p>PROMOTION : {{ semestres.promotion.libelle|upper }}</p></strong></div>
                <div class="col-lg-4 text-center"><strong><p>NIVEAU :  {{ semestres.libelle|upper|level }}<p/></strong></div>
                <div class="col-lg-4 text-center"><strong><p>ANNEE UNIVERSITAIRE : {{ semestres.annee_universitaire }}</p></strong></div>
                <div class="col-lg-12">SEMAINE&nbsp;: S{{ emplois.semaine.num_semaine }}</div>
            </div>
            <br>
                {% if messages %}
                    {% for message in messages %}
                        {%  if message.tags == 'success' %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <form action="{{ url }}" method="post">
                    {% csrf_token %}
                  <table id="example1" class="table table-bordered table-kaw table-striped current">
                    <tbody>

                        <tr>
                            <td colspan="2" width="163">
                                <p><strong></strong><strong> </strong></p>
                            </td>
                            <td width="189">
                                <p><center><strong>S1&nbsp;: 08H30 - 10H15</strong></center></p>
                            </td>
                            <td width="189">
                                <p><center><strong>S2&nbsp;: 10H30 - 12H15</strong></center></p>
                            </td>
                            <td width="189">
                                <p><center><strong>S3&nbsp;: 13H45 - 15H30</strong></center></p>
                            </td>
                            <td width="189">
                                <p><center><strong>S4&nbsp;: 15H45 - 17H30</strong></center></p>
                            </td>
                        </tr>
                        <tr class="top">
                            <td rowspan="4" width="75">
                                <br><br><br><br>
                                 <p><center><strong>LUNDI</strong></center></p>
                            </td>
                            <td width="88">

                                <p><em><center>Matière</center></em></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance1.matiere }}{{ seance1.is_two }} En groupes</strong></center></p>
                                <p class=" activite1">{{ seance1.activite }}</p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance2.matiere }}{{ seance2.is_two }} En groupes</strong></center></p>
                                <p class=" activite2">{{ seance2.activite }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="88">
                                <p><em><center>Intervenant(s)</center></em></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong><strong class="supp1">Groupe 1</strong>{{ seance1.professeur_firstgroup }}<span class="supp1 "><strong>Groupe 2</strong>{{ seance1.professeur_secondgroup }}</span></strong></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong><strong class="supp2">Groupe 1</strong>{{ seance2.professeur_firstgroup }}<span class="supp2 "><strong>Groupe 2</strong>{{ seance2.professeur_secondgroup }}</span></strong></center></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="88">
                                <p><em><center>Salle</center></em></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><strong><center>{{ seance1.salle }}</center></strong></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><strong><center>{{ seance2.salle }}</center></strong></p>
                            </td>
                        </tr>
                        <tr class="bottom">
                            <td width="88">
                                <p><center><em>Avancement</em></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p id="waw"><center><strong>{{ seance1.avancement }}</strong></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance2.avancement }}</strong></center></p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="4" width="75">
                                <br><br><br><br>
                                <p><center><strong>MARDI</strong></center></p>
                            </td>
                            <td width="88">
                                <p><center><em>Matière</em></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance3.matiere }}{{ seance3.is_two }} En groupes</strong></center></p>
                                <p class=" activite3">{{ seance3.activite }}</p>

                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance4.matiere }}{{ seance4.is_two }} En groupes</strong></center></p>
                                <p class=" activite4">{{ seance4.activite }}</p>

                            </td>
                        </tr>
                        <tr>
                            <td width="88">
                                <p><center><em>Intervenant(s)</em></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong><strong class="supp3">Groupe 1</strong>{{ seance3.professeur_firstgroup }}<span class="supp3">  <strong>Groupe 2</strong>{{ seance3.professeur_secondgroup }}</span></strong></center></p>


                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong><strong class="supp4 ">Groupe 1</strong>{{ seance4.professeur_firstgroup }}<span class="supp4 "><strong >Groupe 2</strong>{{ seance4.professeur_secondgroup }}</span></strong></center></p>

                            </td>
                        </tr>
                        <tr>
                        <td width="88">
                            <p><em><center>Salle</center></em></p>
                        </td>
                        <td colspan="2" width="378">
                            <p><strong><center>{{ seance3.salle }}</center></strong></p>
                        </td>
                        <td colspan="2" width="378">
                            <p><center><strong>{{ seance4.salle }}</strong></center></p>
                        </td>
                        </tr>
                        <tr>
                            <td width="88">
                                <p><em><center>Avancement</center></em></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><strong><center>{{ seance3.avancement }}</center></strong></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><strong><center>{{ seance4.avancement }}</center></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="4" width="75">
                                <br><br><br><br>
                                 <p><strong><center>MERCREDI</center></strong></p>
                            </td>
                            <td width="88">
                                <p><em><center>Matière</center></em></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><strong><center>{{ seance5.matiere }}{{ seance5.is_two }} En groupes</center></strong></p>
                                <p class=" activite5">{{ seance5.activite }}</p>

                            </td>
                            <td colspan="2" width="378">
                                <p><strong><center>{{ seance6.matiere }}{{ seance6.is_two }} En groupes</center></strong></p>
                                <p class=" activite6">{{ seance6.activite }}</p>

                            </td>
                        </tr>
                        <tr>
                            <td width="88">
                                <p><em><center>Intervenant(s)</center></em></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong><strong class="supp5 ">Groupe 1</strong>{{ seance5.professeur_firstgroup }}<span class="supp5 "><strong >Groupe 2 </strong>{{ seance5.professeur_secondgroup }}</span></strong></center></p>


                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong><strong class="supp6 ">Groupe 1</strong>{{ seance6.professeur_firstgroup }}<span class="supp6 "><strong >Groupe 2</strong>{{ seance6.professeur_secondgroup }}</span></strong></center></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="88">
                                <p><em><center>Salle</center></em></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><strong><center>{{ seance5.salle }}</center></strong></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><strong><center>{{ seance6.salle }}</center></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="88">
                                <p><em><center>Avancement</center></em></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><strong><center>{{ seance5.avancement}}</center></strong></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><strong><center>{{ seance6.avancement }}</center></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="4" width="75">
                                <br><br><br><br>
                                <p><strong><center>JEUDI</center></strong></p>
                            </td>
                            <td width="88">
                                <p><em><center>Matière</center></em></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><strong><center>{{ seance7.matiere }}{{ seance7.is_two }} En groupes</center></strong></p>
                                <p class=" activite7">{{ seance7.activite }}</p>

                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance8.matiere }}{{ seance8.is_two }} En groupes</strong></center></p>
                                <p class=" activite8">{{ seance8.activite }}</p>

                            </td>
                        </tr>
                        <tr>
                            <td width="88">
                                <p><center><em> Intervenant(s)</em></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong><strong class="supp7 ">Groupe 1</strong>{{ seance7.professeur_firstgroup }}<span class="supp7 "><strong>Groupe 2</strong>{{seance7.professeur_secondgroup }}</span></strong></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong><strong class="supp8 ">Groupe 1</strong>{{ seance8.professeur_firstgroup }}<span class="supp8 "><strong >Groupe 2</strong>{{ seance8.professeur_secondgroup }}</span></strong></center></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="88">
                                <p><center><em>Salle</em></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance7.salle }}</strong></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance8.salle }}</strong></center></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="88">
                                <p><center><em>Avancement</em></center></p>
                            </td>
                            <td colspan="2" width="378">
                                 <p><center><strong>{{ seance7.avancement }}</strong></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance8.avancement }}</strong></center></p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="4" width="75">
                                <br><br><br><br>
                                <p><center><strong>VENDREDI</strong></center></p>
                            </td>
                            <td width="88">
                                <p><center><em>Matière</em></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance9.matiere }}{{ seance9.is_two }} En groupes</strong></center></p>
                                <p class=" activite9">{{ seance9.activite }}</p>

                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance10.matiere }}{{ seance10.is_two }} En groupes</strong></center></p>
                                <p class=" activite10">{{ seance10.activite }}</p>

                            </td>
                        </tr>
                            <tr>
                            <td width="88">
                                <p><center><em>Intervenant(s)</em></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong><strong class="supp9 ">Groupe 1</strong>{{ seance9.professeur_firstgroup }}<span class="supp9 "><strong >Groupe 2</strong>{{ seance9.professeur_secondgroup }}</span></strong></center></p>

                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong><strong class="supp10 ">Groupe 1</strong>{{ seance10.professeur_firstgroup }}<span class="supp10 "><strong>Groupe 2</strong>{{ seance10.professeur_secondgroup }}</span></strong></center></p>
                            </td>
                            </tr>
                        <tr>
                            <td width="88">
                                <p><center><em>Salle</em></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance9.salle }}</strong></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance10.salle }}</strong></center></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="88">
                                <p><center><em>Avancement</em></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance9.avancement }}</strong></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance10.avancement }}</strong></center></p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="4" width="75">
                                <br><br><br><br>
                                 <p><strong><center>SAMEDI</center></strong></p>
                            </td>
                            <td width="88">
                                <p><em><center>Matière</center></em></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><strong><center>{{ seance11.matiere }}{{ seance11.is_two }} En groupes</center></strong></p>
                                <p class=" activite11">{{ seance11.activite }}</p>

                            </td>
                            <td colspan="2" width="378">
                                <p><strong><center>{{ seance12.matiere }}{{ seance12.is_two }} En groupes</center></strong></p>
                                <p class=" activite12">{{ seance12.activite }}</p>

                            </td>
                        </tr>
                        </tr>
                            <tr>
                            <td width="88">
                                <p><center><em>Intervenant(s)</em></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong><strong class="supp11 ">Groupe 1</strong>{{ seance11.professeur_firstgroup }}<span class="supp11 "><strong >Groupe 2</strong>{{ seance11.professeur_secondgroup }}</span></strong></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong><strong class="supp12 ">Groupe 1</strong>{{ seance12.professeur_firstgroup }}<span class="supp12 "><strong>Groupe 2</strong>{{ seance12.professeur_secondgroup }}</span></strong></center></p>

                            </td>
                            </tr>

                        <tr>
                            <td width="88">
                                <p><center><em>Salle</em></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance11.salle}}</strong></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance12.salle }}</strong></center></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="88">
                                <p><center><em>Avancement</em></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance11.avancement }} </strong></center></p>
                            </td>
                            <td colspan="2" width="378">
                                <p><center><strong>{{ seance12.avancement }}</strong></center></strong></p>
                            </td>
                        </tr>
                    </tbody>
                  </table>
                    <h4>Note:</h4>
                    <textarea  name="note" rows="4" cols="175">{{ note }}</textarea>
                   <button   name="valider" class="btn btn-success pull-right" action="submit" style="font-size:17px; margin-left: 10px; padding: 2px 20px 0px 20px;"><i class="fa fa-check"></i>&nbsp;&nbsp;Valider</button>
                    <button  class="btn btn-primary pull-right" name="save" action="submit" style="font-size:17px;padding: 2px 20px 0px 20px;">
                                <i class="fa fa-download"></i> Enregistrer
                    </button>

                </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>


{% endblock %}
<!-- jQuery 2.2.3 -->
{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery.multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/emploi.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/liste.js' %}"></script>
    <script>$('select[multiple]').multiselect();
    </script>
    <script>
    function Test(a){
            $.ajax({
				url: "/getMatiere/",
				data: "csrfmiddlewaretoken="+$('input[name=csrfmiddlewaretoken]').val()+"&pr="+$('#promotion').val()+"&selected_value="+$(a).val(),
				type: "POST",
				success: function(resultat){
				    $(a).html(resultat)
                }
        });
    }

    Test('#id_seance1-matiere')
    Test('#id_seance2-matiere')
    Test('#id_seance3-matiere')
    Test('#id_seance4-matiere')
    Test('#id_seance5-matiere')
    Test('#id_seance6-matiere')
    Test('#id_seance7-matiere')
    Test('#id_seance8-matiere')
    Test('#id_seance9-matiere')
    Test('#id_seance10-matiere')
    Test('#id_seance11-matiere')
    Test('#id_seance12-matiere')
       /* $.ajax({
				url: "/getMatiere/",
				data: "csrfmiddlewaretoken="+$('input[name=csrfmiddlewaretoken]').val()+"&id="+$('#semestre').val()+"&pr="+$('#promotion').val(),
				type: "POST",
				success: function(resultat){
        			$('#id_seance1-matiere').html(resultat);
        			$('#id_seance2-matiere').html(resultat);
        			$('#id_seance3-matiere').html(resultat);

    			}
        });*/

    </script>
    <script>
    </script>
{% endblock %}
</body>
</html>
