{% extends 'base.html' %}
{% load staticfiles %}
{% load filtre %}
  {% block title %}ICNA | Matières{% endblock %}
    {% block style %}
      <!-- DataTables -->
       <link rel="stylesheet" href="{% static '/css/dataTables.bootstrap.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
      <!-- Theme style -->
        <style>
        .myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}
        </style>
    {% endblock %}
    {% block header %}
        <br>
        <h1 style="color:#23527c ;margin-left: 10px;">Matières</h1>
        <br>
    {% endblock %}
        {% block menu %}
        <li>
          <a href="{% url 'index' %}">
            <i class="fa fa-home "></i> <span>Accueil</span>
          </a>
        </li>
        <li class=" treeview">
          <a href="#">
            <i class="fa fa-calendar"></i> <span>Emploi du Temps</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class=""><a href="{% url 'emploi_courant' %}"><i class="fa fa-circle-o"></i> Courant</a></li>
            <li class=""><a href="{% url 'emploi_courant_archive' %}"><i class="fa fa-circle-o"></i> Archivés</a></li>
          </ul>
        </li>
        <li class=" treeview active">
          <a href="#">
            <i class="fa fa-book"></i> <span>Matières</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li  class="active"><a href="{% url 'matiere' %}"><i class="fa fa-circle-o"></i> Lister</a></li>
            <li class=""><a href="http://127.0.0.1:8000/admin/app/matiere/"><i class="fa fa-circle-o text-aqua"></i> Gérer</a></li>
          </ul>
        </li>
        <li class=" treeview">
          <a href="#">
            <i class="fa fa-graduation-cap"></i> <span>Etudiants</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class=""><a href="{% url 'gestion_etudiant' %}"><i class="fa fa-circle-o"></i> Lister</a></li>
            <li class=""><a href="http://127.0.0.1:8000/admin/app/etudiant/"><i class="fa fa-circle-o text-aqua"></i> Gérer</a></li>
          </ul>
        </li>
        <li class=" treeview">
          <a href="#">
            <i class="fa fa-suitcase"></i> <span>Professeurs</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class=""><a href="{% url 'prof' %}"><i class="fa fa-circle-o"></i> Lister</a></li>
            <li class=""><a href="http://127.0.0.1:8000/admin/app/professeur/"><i class="fa fa-circle-o text-aqua"></i> Gérer</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-address-book"></i> <span>Répertoire téléphonique</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'repertoire_prof' %}"><i class="fa fa-circle-o"></i> Professeurs</a></li>
            <li><a href="{% url 'repertoire_etud' %}"><i class="fa fa-circle-o"></i> Etudiants</a></li>
          </ul>
        </li>
            <li>
        <a href="{% url 'tuto' %}">
            <i class="fa fa-newspaper-o"></i> <span>Mode d'emploi</span>
        </a>
        </li>
    {% endblock %}
    {% block  breadcrumb%}
        <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><i class="fa fa-bars"></i> Promotions</li>
        <li><i class="fa fa-server" aria-hidden="true"></i> Semestres</li>
        <li class="active"> Matières</li>
    {% endblock %}
    {% block content %}
        <div class="row">
            <div class="pull-right" style="margin-right: 20px;padding:20px 0px 20px 0px;">
            </div>
        </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Matières</th>
                  <th>Semestre</th>
                  <th>Promotion</th>
                  <th>Charge horaire prévue</th>
                  <th>Charge horaire realisée</th>
                  <th>Réalisation (%)</th>
                </tr>
                </thead>
                <tbody>
                    {% for mat in matiere%}
                        {% if mat.libelle != "ACTIVITEE PARASCOLAIRE" %}
                            <tr>
                                <td>{{ mat.libelle|default_if_none:"" }}</td>
                                <td>{{ mat.semestre.libelle|default_if_none:""}}</td>
                                <td>{{ mat.semestre.promotion|default_if_none:""|upper }}</td>
                                <td>{{ mat.chargeHoraire|default_if_none:"" }}</td>
                                <td>{{ mat.chargeRealise|default_if_none:"0" }}</td>
                                <td  {% if mat.chargeRealise|diviser:mat.chargeHoraire < 90 or mat.chargeRealise|diviser:mat.chargeHoraire > 110%}
                                    style="background-color: rgba(255,0,0,0.8)"
                                {% elif mat.chargeRealise|diviser:mat.chargeHoraire > 90 or mat.chargeRealise|diviser:mat.chargeHoraire < 110  %}
                                    style="background-color: rgba(0,128,0,0.8)"
                                {% endif %}>{{ mat.chargeRealise|diviser:mat.chargeHoraire}} %</td>
                            </tr>
                        {% else %}
                            <!--<tr>
                                <td>{{ mat.libelle|default_if_none:"" }}</td>
                                <td>{{ mat.semestre.libelle|default_if_none:""}}</td>
                                <td>{{ mat.semestre.promotion|default_if_none:""|upper }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>-->
                        {% endif %}
                    {% endfor %}
                </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
                <div style="margin-left: 945px;">
        <a href="{{ request.path }}/fiche" target="_blank" class="btn btn-success"><i class="fa fa-download" ></i>  Générer le PDF</a>
        </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>


{% endblock %}
<!-- jQuery 2.2.3 -->
{% block script %}
<script src="{% static '/js/plugins/jQuery/jquery-2.2.3.min.js'%}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static '/js/bootstrap.min.js'%}"></script>
<!-- DataTables -->
<script src="{% static '/js/plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static '/js/plugins/datatables/dataTables.bootstrap.min.js'%}"></script>
<!-- SlimScroll -->
<script src="{% static '/js/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static '/js/plugins/fastclick/fastclick.js'%}"></script>
<!-- AdminLTE App -->
<script src="{% static '/js/dist/js/app.min.js'%}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static '/js/dist/js/demo.js'%}"></script>
<!-- page script -->
<script src="{% static '/js/translate.js'%}"></script>
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
{% endblock %}
</body>
</html>
